.form__fieldset {
    background-color: rgba(238, 238, 171, 0.641);
    border-radius: 5px;
    border: 2px solid whitesmoke
    
}

.form__legend {
    padding: 10px;
    background-color: rgba(238, 238, 171, 0.641);
    border: 2px solid white;
    border-radius: 5px;
    color: #fff;
}

.form__labelText {
    display: inline-block;
    width: 45%;
}

.form__toFill {
    width: 100%;
}

.form__select {
    width: 40%;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.form__amount {
    width: 40%;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.form__input--readonly {
    width: 40%;
    background-color: white;
    border: 2px solid hsl(73, 20%, 73%);
}

.form__button {
    margin-left: 50%;
    text-align: center;
    padding: 10px;
    display: inline-block;
    width: 50%;
    background-color: hsl(73, 20%, 73%);
    color: rgb(8, 8, 8);
    border-radius: 5px;
    border-color: white;
}

.form__button:hover {
    background-color: hsl(150, 4%, 67%);
}

.form__button:active {
    background-color: hsl(150, 4%, 75%);
    
}