.form {
    background-color: hwb(260 50% 48% / 0.751);
    padding: 40px;
    border-radius: 5px;
    margin: 20px 0;
    margin-bottom: 0px;
    text-align: center;
    box-shadow: 2px 2px 20px black;
    height: 450px;
}

@media (max-width: 767px) {
    .form {
        height: 520px;
    }
}

.form__fieldset {
    padding: 16px;
    border-radius: 5px;
    margin: 16px 0;
    margin-bottom: 0px;
    text-align: center;
    border: none;
}

.form__legend {
    background-color: hwb(260 50% 48% / 0.751);
    color: whitesmoke;
    font-size: 24px;
    max-width: 250px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
    display: inline-block;
    box-shadow: 1px 1px 10px rgb(32, 31, 31);
}

.form__label {
    width: 100%;
    max-width: 200px;
    display: inline-block;
    margin-right: 2px;
    text-align: left;
}

.form__field {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    max-width: 250px;
    border-radius: 5px;
}

.form__button {
    background-color: hsla(162, 7%, 63%, 0.627);
    max-width: 250px;
    width: 200px;
    color: hsl(0, 0%, 10%);
    font-weight: 700;
    padding: 9.5px;
    border-radius: 5px;
    border: 1px solid rgb(90, 86, 86);
    box-shadow: 1px 1px 10px rgb(32, 31, 31);
    margin: 16px 26px -1px 20px;
}

.form__button:hover {
    background-color: hsl(163, 6%, 75%);
}

.form__result {
    color: whitesmoke;
    font-size: 20px;
    padding-top: 10px;
}